# =========================
# Python / Django
# =========================
*.pyc
__pycache__/
*.sqlite3
db.sqlite3

# Virtual Environments
venv/
env/
.venv/

# Django media uploads
web/media/

# =========================
# Flutter
# =========================
mobileapp/postdischarge/.dart_tool/
mobileapp/postdischarge/build/
mobileapp/postdischarge/.packages
mobileapp/postdischarge/.flutter-plugins
mobileapp/postdischarge/.flutter-plugins-dependencies

# =========================
# IDE Files
# =========================
.idea/
.vscode/
*.iml

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db