 <footer id="footer" class="footer light-background">

    <div class="container">
      <div class="copyright text-center ">
        <p>© <span>Copyright</span> <strong class="px-1 sitename">HospitalConnect</strong> <span>All Rights Reserved</span></p>
      </div>

      <div class="credits">

      </div>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="/static/teacher/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/teacher/assets/vendor/php-email-form/validate.js"></script>
  <script src="/static/teacher/assets/vendor/aos/aos.js"></script>
  <script src="/static/teacher/assets/vendor/glightbox/js/glightbox.min.js"></script>

  <!-- Main JS File -->
  <script src="/static/teacher/assets/js/main.js"></script>

</body>

</html>
